{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet"/>
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <style>
      body {
        font-family: "Noto Sans KR", sans-serif;
      }
    </style>

    {% block title %}
    {% endblock %}
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'movies:index' %}">
          <div class="d-flex align-items-center">
            <img src="{% static 'images/movie.png' %}" alt="" width="48px">
            <span class="ms-2">Movie</span>
          </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              {% if request.resolver_match.url_name == 'index' %}
                <a class="nav-link active" id="nav-link" aria-current="page" href="{% url 'movies:index' %}">Home</a>
              {% else %}
                <a class="nav-link" id="nav-link" aria-current="page" href="{% url 'movies:index' %}">Home</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if request.resolver_match.url_name == 'create' %}
                <a class="nav-link active" id="nav-link" href="{% url 'movies:create' %}">Write</a>
              {% else %}
                <a class="nav-link" id="nav-link" href="{% url 'movies:create' %}">Write</a>
              {% endif %}
            </li>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <!-- JS -->
    <!-- <script>
      const nav_links = document.querySelectorAll('#nav-link');

      nav_links.forEach(curr => {
        curr.addEventListener('click', event => {
          nav_links.forEach(rest => rest.classList.remove('active'));
          curr.classList.add('active');
        });
      });
    </script> -->
  </body>
</html>
