.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 40px;
  height: 80px;
}

.nav-logo {
  height: 60px;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-item {
  padding: 1rem;
  color: grey;
}

.nav-item:hover {
  background-color: rgb(207, 207, 207);
  border-radius: 5px;
}

.nav-list a {
  text-decoration: none;
}