@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1280px;
  color: #333333;
}

/* 1. Navigation Bar */
.header-container {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #eeeeee;
}

.nav-bar {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
.nav-logo {
  margin-left: 2rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-list-item {
  margin-right: 1rem;
  padding: 1rem;
}

.nav-list-item:hover {
  background-color: #B2AFB2;
}

.nav-link {
  text-decoration: none;
  color: black;
}

/* 2. Articles */
.articles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.banner {
  width: 100%;
  height: 700px;

  background-image: url("../assets/apparel.jpeg");
  background-size: auto;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 4rem 0;
  width: 1280px;
}

.main-img {
  width: 500px;
  border-radius: 1rem;
}

.main-about {
  width: 600px;
}

.main-title {
  font-size: 32px;
  text-align: center;
  margin: 1rem 0;
}

.main-description {
  font-size: 18px;
  line-height: 30px;
  margin: 1rem 0;
}

/* 3. Footer */
.footers-container {
  width: 100%;
  margin: 2rem 0;
}

.footer-list {
  display: flex;
  justify-content: space-evenly;
  margin: 4rem 6rem;
}

.footer-title {
  font-size: 32px;
  text-align: center;
  margin: 1rem 0;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-img {
  width: 64px;
  height: 64px;
}

.footer-text {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin: 1rem 0;
}

/* 4. Top Button */
.top-button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.button-img {
  width: 2rem;
  height: 2rem;
}