{% extends 'base.html' %}

{% block title %}
  <title>회원 목록 조회</title>
{% endblock title %}

{% block content %}
  <div class="container my-5">
    <h1 class="text-center mb-5">회원 목록 조회</h1>

    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">pk</th>
          <th scope="col">username</th>
          <th scope="col">email</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr onclick="goToDetail('{{ user.pk }}')">
            <th scope="row">{{ user.pk }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- JS -->
  <script>
    function goToDetail(user_pk) {
      location.href = "{% url 'accounts:detail' pk=0 %}".replace('0', user_pk)
    }
  </script>
{% endblock content %}